@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #e9d8a6;
    height: 100vh;      
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header{
    min-height: 10vh;
    display: flex;
}

header h1{  
    margin-left: 77px;
    margin-top: 40px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;    
    color: #333333;
}

main{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    margin: 2rem auto;
}

img{
    height: 447.4263916015625px;
    width: 539.2236938476562px;
    margin-right: 130px;
}

.text-content h2{
    width: 586px;
    height: 190px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}

.text-content p{
    margin-top: 40px;
    width: 381px;
    height: 108px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

button{
    margin-top: 40px;    
    width: 216px;
    height: 68px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #333333;
}

footer{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #005f73;
}

footer a{
    color: #005f73;
    text-decoration: none;
}


@media screen and (max-width: 1230px) {  
    header h1 {
        margin-left: 24px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
    }
  
    .content {
      margin-top: 2rem;
      flex-direction: column;
    }
    
    img {
        margin: auto;
        width: 280px;
        height: 238px;
    }
  
    .text-content {
        margin-left: 24px;
    }
  
    .text-content h2 {
        width: 340px;
        font-size: 48px;
        line-height: 71px;
    }

    .text-content p {
        width: 328px;
        font-size: 18px;
        line-height: 27px;
    }

    footer{
        margin-top: 60px;
    }
}

@media screen and (max-width: 360px){
    footer{
        margin-top: 175px;
    }
}
